body {
	font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;
	font-weight: normal;
}

a {
	color: black;
}

a:hover {
	color: #2A6EBB;
	text-decoration: none;
}
a:visited, a:active {
	color: black;
}

/* liens images sans bordure */
a img {border:0; margin:2px}

select, body, input {
	font-size:85%;
}

small {
	font-weight: normal;
	font-size : 85%;
	color: #404040;}

#contenu {
	width:955px;
	display:block;
	clear:both;
}

h1 {
	color: #2A6EBB;
	margin-left:5px;
	margin-bottom:0px;
	margin-top:5px;
	padding:4px;
}

h2 {
	color: #2A6EBB;
	margin-left:5px;
	margin-bottom:0px;
	margin-top:5px;
	padding:4px;
}

h3 {
	color: #2A6EBB;
/*	color: #F18C13;*/
	margin-left:10px;
	margin-top:2px;
	margin-bottom:2px;
	padding:2px;
	
}

h4 {
	color: #3E3E3E;
	margin: 5px;
	padding: 0;
}
h5 {
	font-size: 105%;
	color: #666666;
	margin: 5px;
	margin-left: 10px;
	padding: 0;
}

H6 {
display:none;
}

form {
margin:0px;
padding:0px;
}


hr{
	height:1px;
	margin: 3px;
	border : 0px;
	border-top : 1px solid #2A6EBB;
}

/**
 * Tableaux
 */
th small {
	color: #FF0000;
}

tr {
	height:auto;
}
td {
	font-weight:normal;
	padding:3px;
/*	border: 1px solid white;*/
	margin : 1px;
	height:auto;
}

th {background-color:#2A6EBB;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
	border: 1px solid #2A6EBB;
	font-weight:bold;
	font-size:90%;
	color:white;
	text-align: center;
	vertical-align: bottom;
	}
	
THEAD {
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px
}

/* col de gauche des tableaux */
.LRcoledit {
	background-color: #cccccc;
	padding:4px;
}

.backredc, tr:nth-child(even){
    background-color: #eeeeee;
	}

.backwhiten {
    background-color: #ffffff;
	}

.edittable {
	border: 1px solid #2A6EBB;
	width:85%;
}

.edittable td {
	padding : 5px;
}
/* case a cocher negation requete 	*/
.FdR {
	display:block;
	width:100px;
	padding: 1px;
	margin: 2px;
	font-size:75%;
	background-color: #E7E7E7;
}
div.item {clear: both}

.fxbutton, .fxsmallbutton, input[type="submit"],  input[type="button"], input[type="reset"], input.fxbutton{	
/*	background-color: #cc6600; 
	color:white; 
	font-size: 11px; 
	border-style: ridge;
	border-top-color: #ffcc00; 
	border-left-color: #ffcc00; 
	border-bottom-color: #cc3300; 
	border-right-color: #cc3300;
	padding : 5px;
	border-radius: 5px;*/
	text-decoration : none;
	margin:2px;
	cursor: pointer;
	background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);	
	border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

.fxsmallbutton  { 
	/*font-weight: bold;*/
    padding-right: 2px;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 0px;
	border-width: thin;
	}

.fxbutton , input.fxbutton{ 
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: medium;
	}
	
input[type="submit"] { font-size: 105%}	

A.fxbutton, A.fxsmallbutton {color:white; }
A.fxbutton:visited, A.fxsmallbutton:visited {color:white; }
A.fxbutton:hover, A.fxsmallbutton:hover {color:#FADF88;
			border-style: groove;	}

.item label  {width:350px; float:left}

#contenu_nav {
	margin:5px;
}
#contenu_nav ul { margin:0; padding-left:10px;}
#contenu_nav ul li small {font-size:70%}
#contenu_nav ul li { list-style: none;}

#footer { margin:10px; border-top : 1px solid green; color:808080; font-size : 70%; text-align:center }